<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="adminContainer" class="admin-container final-user">
      <p class="log-as">ENTRASTE COMO UN ADMINISTRADOR</p>
      <!-- <i class="fa-solid fa-house go-home" href="index"><-</i> -->
      <a href="index"><i class="fa-solid fa-house go-home"><-</i></a>
    </div>
  </body>
</html>
